.actionButton {
  padding: 8px;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6 ease-in-out;
}
.actionButton:hover {
  background-color: #eee;
}

.popmenu {
}
